
{{#if isPlay}}
<div class="baseskills">
  {{#unless isPlay}}
  <h2>{{localize "EMOKLORE.baseSkill"}}</h2>
  {{/unless}}
  {{#each system.baseSkills as |baseSkill key|}}
  <div class="baseskill" data-baseskill="{{key}}">
    <a class="label" 
      data-action="roll" 
      data-roll-type="base-skill" 
      data-skill="{{key}}">
      {{baseSkill.label}} | {{baseSkill.target}}
      <i class="characteristic fa-solid {{lookup (lookup ../config.characteristics baseSkill.characteristic) 'fa'}}"></i>
    </a>
  </div>
  {{/each}}
</div>
{{/if}}
