{{! Biography Tab }}
<section class='tab biography {{tab.cssClass}}' data-group='primary' data-tab='biography'>

  {{> "systems/emoklore/templates/actor/card-view.hbs"}}

  <div class="biographies">
    {{#if isPlay}}
    <div class="flexrow">
      <div class="bio very-short">
        <label>{{systemFields.biography.fields.age.label}}</label>
        <span class="value">{{system.biography.age}}</span>
      </div>
      <div class="bio very-short">
        <label>{{systemFields.biography.fields.gender.label}}</label>
        <span class="value">{{system.biography.gender}}</span>
      </div>
    </div>
    <div class="bio short">
      <label>{{systemFields.biography.fields.occupation.label}}</label>
      <span class="value">{{system.biography.occupation}}</span>
    </div>
    <div class="bio short">
      <label>{{systemFields.biography.fields.hometown.label}}</label>
      <span class="value">{{system.biography.hometown}}</span>
    </div>
    <div class="bio">
      <label>{{systemFields.biography.fields.appearance.label}}</label>
      <span class="value">{{system.biography.appearance}}</span>
    </div>
    <div class="bio">
      <label>{{systemFields.biography.fields.personality.label}}</label>
      <span class="value">{{system.biography.personality}}</span>
    </div>
    <div class="bio">
      <label>{{systemFields.biography.fields.background.label}}</label>
      <span class="value">{{system.biography.background}}</span>
    </div>
    <div class="bio">
      <label>{{systemFields.biography.fields.importantPeople.label}}</label>
      <span class="value">{{system.biography.importantPeople}}</span>
    </div>
    <div class="bio">
      <label>{{systemFields.biography.fields.likesAndDislikes.label}}</label>
      <span class="value">{{system.biography.likesAndDislikes}}</span>
    </div>
    <div class="bio">
      <label>{{systemFields.biography.fields.note.label}}</label>
      <span class="value">{{{system.biography.note}}}</span>
    </div>

    {{else}}
    <div class="flexrow">
      {{formGroup systemFields.biography.fields.age value=system.biography.age}}
      {{formGroup systemFields.biography.fields.gender value=system.biography.gender}}
    </div>
    {{formGroup systemFields.biography.fields.occupation value=system.biography.occupation}}
    {{formGroup systemFields.biography.fields.hometown value=system.biography.hometown}}
    {{formGroup systemFields.biography.fields.appearance value=system.biography.appearance}}
    {{formGroup systemFields.biography.fields.personality value=system.biography.personality}}
    {{formGroup systemFields.biography.fields.background value=system.biography.background}}
    {{formGroup systemFields.biography.fields.importantPeople value=system.biography.importantPeople}}
    {{formGroup systemFields.biography.fields.likesAndDislikes value=system.biography.likesAndDislikes}}
    {{formGroup systemFields.biography.fields.note value=system.biography.note}}
    {{/if}}
  </div>
</section>
