<div>
  <div class="card">
    <img
      src="{{source.img}}"
      data-action="editImage"
      data-edit="img"
      alt="{{localize 'DOCUMENT.FIELDS.img.label'}}"
    />

    <div class="characteristics">
      <div class="characteristics-cap">
        {{charPointSum}}
        / 25
      </div>
      {{#each characteristics as |chr key|}}
        <div class="characteristic" data-characteristic="{{key}}">
          {{formGroup chr.field.fields.value value=chr.value placeholder="1"}}
        </div>
      {{/each}}
    </div>
  </div>

  <div>
  </div>
</div>
