<div class="card">
  <img src="{{source.img}}" data-action="showPortraitArtwork" data-edit="img" alt="{{localize "DOCUMENT.FIELDS.img.label"}}">

  <div class="emotions">
    <div class="play">
      <span class="pill">
        {{localize (concat "EMOKLORE.sympatheticEmotion." system.emotions.surface)}}
      </span>
      <span class="pill">
        {{localize (concat "EMOKLORE.sympatheticEmotion." system.emotions.hidden)}}
      </span>
      <span class="pill">
        {{localize (concat "EMOKLORE.sympatheticEmotion." system.emotions.root)}}
      </span>
    </div>

  </div>

  <div class="characteristics">

    {{#each characteristics as |chr key|}}

    <div class="characteristic" data-characteristic="{{key}}">
      <label for="{{key}}">{{chr.field.label}}</label>
      <span class="value">{{chr.value}}</span>
      <progress id="{{key}}" value="{{chr.value}}" max="6"></progress>
    </div>
    {{/each}}
  </div>
</div>

