<div class="characteristics">

  {{#unless isPlay}}
  <div class=characteristics-cap>
    {{ sum_char }} / 25
  </div>
  {{/unless}}

  {{#each characteristics as |chr key|}}

  <div class="characteristic" data-characteristic="{{key}}">
    {{#if ../isPlay}}
    <label for="{{key}}">{{chr.field.label}}</label>
    <span class="value">{{chr.value}}</span>
    <progress id="{{key}}" value="{{chr.value}}" max="6"></progress>
    {{else}}
    {{formGroup chr.field value=chr.value placeholder="1"}}
    {{/if}}
  </div>

  {{/each}}

</div>

