{{! Sheet Header }}
<div>
  <header class="sheet-header">
    <div class="container">
      <div class="name">
        {{#if isPlay}}
        {{source.name}}
        {{else}}
        {{formInput fields.name value=source.name placeholder=(localize "DOCUMENT.FIELDS.name.label")
        aria=(object label=(localize "DOCUMENT.FIELDS.name.label"))}}
        {{/if}}
      </div>

      {{#if isPlay}}
      <div class="resources">
        <div class="hp bar">

          <div class="info">
            <i class="fa-solid fa-heart label"></i>
            <div class="value">
              {{formInput systemFields.resources.fields.hp.fields.value value=system.resources.hp.value}}
              <span class="small">/{{ system.resources.hp.max }}</span>
            </div>
          </div>

          <progress 
            id="character-hp"
            value="{{ system.resources.hp.value }}" 
            max="{{ system.resources.hp.max }}"
            ></progress>
        </div>

        <div class="mp bar">
          <div class="info">
            <i class="fa-solid fa-wand-magic-sparkles label"></i>
            <div class="value">
              {{formInput systemFields.resources.fields.mp.fields.value value=system.resources.mp.value}}
              <span class="small">/{{ system.resources.mp.max }}</span>
            </div>
          </div>
          <progress 
            id="character-mp"
            value="{{ system.resources.mp.value }}" 
            max="{{ system.resources.mp.max }}"
            ></progress>
        </div>

        <div class="resonance bar">
          <div class="info">
            <a class="fa-solid fa-infinity label" data-action="roll" data-roll-type="resonance"></a>
            <div class="value">
              Lv.{{formInput systemFields.resources.fields.resonance.fields.value value=system.resources.resonance.value}}
            </div>
            <div>
              {{#if system.emotions.surface}}
              {{localize (concat "EMOKLORE.resonantEmotions." system.emotions.surface)}}
              {{/if}}
            </div>
            <div class="small">
              {{#if system.emotions.surface}}
              （{{localize emotionAttributes.surface}}）
              {{/if}}
            </div>
            <div>
              {{#if system.emotions.hidden}}
              {{localize (concat "EMOKLORE.resonantEmotions." system.emotions.hidden)}}
              {{/if}}
            </div>
            <div class="small">
              {{#if system.emotions.hidden}}
              （{{localize emotionAttributes.hidden}}）
              {{/if}}
            </div>
            <div>
              {{#if system.emotions.root}}
              {{localize (concat "EMOKLORE.resonantEmotions." system.emotions.root)}}
              {{/if}}
            </div>
            <div class="small">
              {{#if system.emotions.root}}
              （{{localize emotionAttributes.root}}）
              {{/if}}
            </div>
          </div>
          <progress 
            id="character-resonance"
            value="{{ system.resources.resonance.value }}" 
            max="{{ system.resources.resonance.max }}" 
            ></progress>
        </div>
      </div>
      {{else}}
      <div class="emotions">
        {{formGroup
        systemFields.emotions.fields.surface
        value=system.emotions.surface
        options=emotionOptions
        }}
        {{formGroup
        systemFields.emotions.fields.hidden
        value=system.emotions.hidden
        options=emotionOptions
        }}
        {{formGroup
        systemFields.emotions.fields.root
        value=system.emotions.root
        options=emotionOptions
        }}
      </div>
      {{/if}}
  </header>
    </div>
