{{! Sheet Header }}
<div>
  <header class="sheet-header">
    <div class="container">
      <div class="name">
        {{#if isPlay}}
        {{source.name}}
        {{else}}
        {{formInput fields.name value=source.name placeholder=(localize "DOCUMENT.FIELDS.name.label")
        aria=(object label=(localize "DOCUMENT.FIELDS.name.label"))}}
        {{/if}}
      </div>

      <div class="resources">
        {{#if isPlay}}
        <div class="hp bar">
          <i class="fa-solid fa-heart label"></i>
          <span class="value">
            {{ system.resources.hp.value }}/{{ system.resources.hp.max }}
          </span>
          <button>
            <i class="fa-regular fa-minus"></i>
          </button>
          <progress 
            id="character-hp"
            value="{{ system.resources.hp.value }}" 
            max="{{ system.resources.hp.max }}"
          ></progress>
          <button>
            <i class="fa-regular fa-plus"></i>
          </button>
        </div>
        <div class="mp bar">
          <i class="fa-solid fa-wand-magic-sparkles label"></i>
          <span class="value">
            {{ system.resources.mp.value }}/{{ system.resources.mp.max }}
          </span>
          <button>
            <i class="fa-regular fa-minus"></i>
          </button>
          <progress 
            id="character-mp"
            value="{{ system.resources.mp.value }}" 
            max="{{ system.resources.mp.max }}"
            ></progress>
          <button>
            <i class="fa-regular fa-plus"></i>
          </button>
        </div>
        <div class="sympathy bar">
          <i class="fa-solid fa-infinity label"></i>
          <span class="value">
            Lv.3/9
          </span>
          <button>
            <i class="fa-regular fa-minus"></i>
          </button>
          <progress 
            id="character-sympathy"
            value="3" 
            max="9"
            ></progress>
          <button>
            <i class="fa-regular fa-plus"></i>
          </button>
        </div>
        {{else}}
        <div class="hp">
          最大HP: {{ system.resources.hp.max }}
        </div>
        <div class="mp">
          最大MP: {{ system.resources.mp.max }}
        </div>
        {{/if}}
      </div>

  </header>
    </div>
