{{! Stats Tab }}
<section class='tab stats {{tab.cssClass}}' data-group='primary' data-tab='stats'>
<fieldset class="characteristics">
  <legend>{{localize "EMOKLORE.characteristics"}}</legend>
  {{#each characteristics as |chr key|}}
  <div class="characteristic edit" data-characteristic="{{key}}">
    {{formGroup chr.field value=chr.value placeholder="1"}}
  </div>
  {{/each}}
</fieldset>

{{#if isPlay}}
{{ sum_char }} / 25
{{/if}}

<fieldset class="skill">
  <legend>{{localize "EMOKLORE.skill"}}</legend>
  {{#each skills as |skill key|}}
  <div class="skill flexrow" data-skill="{{key}}">
    <a class="label" data-action="roll" data-roll-type="skill" data-skill="{{key}}">{{skill.label}}</a>
    {{formGroup skill.field.fields.level value=skill.level options=skillLevelOptions}}
    <span>{{skill.target}} {{localize (concat "EMOKLORE.Actor.characteristics." skill.characteristic)}}</span>
  </div>

  {{/each}}
</fieldset>

{{#if isPlay}}
<fieldset class="baseskill">
  <legend>{{localize "EMOKLORE.baseSkill"}}</legend>
  {{#each system.baseSkills as |baseSkill key|}}
  <div class="baseskill flexrow" data-baseskill="{{key}}">
    <a class="label" data-action="roll" data-roll-type="skill" data-skill="{{key}}">{{baseSkill.label}}</a>
  </div>
  {{/each}}
</fieldset>
{{/if}}
</section>
