{{! Stats Tab }}
<section class='tab stats {{tab.cssClass}}' data-group='primary' data-tab='stats'>
<fieldset class="characteristics flexcol">
  <legend>能力値</legend>
  {{#each characteristics as |chr key|}}
  <div class="characteristic flexrow" data-characteristic="{{key}}">
    <span class="label">{{localize chr.field.label}}</span>
    {{formInput chr.field value=chr.value type="number" placeholder="1"}}
  </div>
  {{/each}}
</fieldset>
{{ sum_char }} / 25
</section>
