<div class="emotions">
  {{#if isPlay}}
  <div class="play">
  <span class="pill">
  {{localize (concat "EMOKLORE.sympatheticEmotion." system.emotions.surface)}}
  </span>
  <span class="pill">
  {{localize (concat "EMOKLORE.sympatheticEmotion." system.emotions.hidden)}}
  </span>
  <span class="pill">
  {{localize (concat "EMOKLORE.sympatheticEmotion." system.emotions.root)}}
  </span>
  </div>

  {{else}}
  {{formGroup systemFields.emotions.fields.surface value=system.emotions.surface options=emotionOptions}}
  {{formGroup systemFields.emotions.fields.hidden value=system.emotions.hidden options=emotionOptions}}
  {{formGroup systemFields.emotions.fields.root value=system.emotions.root options=emotionOptions}}
  {{/if}}
</div>

